  
html, body {
	margin:0;
	padding:0;
	height:100%;
	/*background-color:#fdfdfd;*/
	background-color:#ddf;
}

/*Default button (blue)*/
input[type="button"]{
	display: inline-block;
	position: relative;
	cursor: pointer;
	padding: 1px 5px 2px;
	color: #fff;
	text-decoration: none;
	font-weight: bold;
	line-height: 1.5;
	font-size:0.9em;

	text-shadow: 0 -1px 1px rgba(0,0,0,0.25);
	
	border : 1px solid rgba(0,0,0,0.25);
	background-color: #AAF;
}
/*defined for the glow effect*/
input[type="button"]:hover{
	background-color: #BBF;
}



/*Overrides buttons color*/
input[type="button"].noir{
		background-color:black;
}
input[type="button"].vert{
		background-color:#55DD55;
}
input[type="button"].alert{
		background-color:#B80000;
}
input[type="button"].blue{
		background-color:#2daebf;
}

input[type="button"].darkblue{
		background-color:#000591;
}

/*defined for the glow effect*/
input[type="button"].noir:hover{
		background-color:#111111;
}
input[type="button"].vert:hover{
	background-color:#55EE55;
}
input[type="button"].alert:hover{
		background-color:#D83030;
}
input[type="button"].blue:hover{
		background-color:#4dcedf;
}

input[type="button"].darkblue:hover{
		background-color:#4045B1;
}

/*defined for the transition of glow effect (all above)*/
input[type="button"], input[type="button"]:hover{
	-moz-transition: background-color 0.2s linear;
	-webkit-transition: background-color 0.2s linear;
	-o-transition: background-color 0.2s linear;
}

/*overrides default button to submit forms*/
input[type="submit"]{
	display: inline-block;
	position: relative;
	cursor: pointer;
	padding: 1px 5px 2px;
	color: #fff;
	text-decoration: none;
	font-weight: bold;
	line-height: 1;
	font-size:0.9em;
	
	text-shadow: 0 -1px 1px rgba(0,0,0,0.25);

	line-height: 1.5;
	border : 1px solid rgba(0,0,0,0.25);
	background-color: #999;
}

input[type="submit"].blue{
	background-color:#AAF;
}
input[type="submit"].vert{
		background-color:#55DD55;
}

input[type="submit"].vert:hover{
	background-color:#55EE55;
}
input[type="submit"].blue:hover{
	background-color:#BBF;
}

input[type="submit"].darkblue{
	background-color:#000591;
}
input[type="submit"].darkblue:hover{
	background-color:#4045B1;
}

input[type="submit"]:hover{
		background-color:#BBB;
}

input[type="submit"], input[type="submit"]:hover{
	-moz-transition: background-color 0.2s linear;
	-webkit-transition: background-color 0.2s linear;
	-o-transition: background-color 0.2s linear;
}

/*Style pour le bouton submit lorsqu'il est désactivé*/
input[type="submit"][disabled]{
	color:#BBB;
}

input[type="text"]{

	padding-left:5px;
	padding-right:5px;
	line-height: 1.5;
	border : 1px solid rgba(0,0,0,0.25);
}
input[type="password"]{
	padding-left:5px;
	padding-right:5px;
	line-height: 1.5;
	border : 1px solid rgba(0,0,0,0.25);
}

#vBibContenu{
	position:relative;
	top:0;
	margin:auto;
	min-height: 100%;
	
	width:800px;
	background-color:#DDF;
}

div#vBibDisplay{
	font-size:smaller;
	margin:auto;
	width:800px;
	bottom:0px;
	background-color:#DDF; 
	padding:4em 0 1.5em 0;
	
}


div#vBibFooter {
	position:fixed;
	/*margin:auto;*/
	bottom:0px;
	width:100%;
	background-color:#EEE; 	
	font-size:smaller;	
	height: 20px;
}

#vBibHeader{
	margin:auto;
	position:fixed;
	top:0px;
	left:0px;
	min-width:800px;
	width:100%;
	height:38px;
	z-index:2000; /*eviter que le menu se retrouve "sous" un élément du contenu (les coins des titres par ex.)*/
	/*opacity:0.7;*/
	background-color:#AAF;

}

#vBibHeader:hover{
	opacity:1;
}

#vBibMenu{
	margin:0;
	padding:0;
	list-style-type:none;
}

#vBibMenu li{
	margin:0;
	padding:0;
	margin:5px;
	bottom:0px;

	display:-moz-inline-stack;
	display:inline-block;
	*display:inline;
}


#vBibMenu li a{
	text-decoration:none;
}

#vBibMenu li #enseigne{
	display:inline;
}

#vBibMenu li #enseigne a{
	color:white;
	font-variant:small-caps;
	font-weight:600;
}

div.vBibDeconn{
	float:right;
	margin:0px;
	padding:0;
	margin-top:5px;

	text-align:left;
	
	border-radius:10px 0px 0px 10px;
}

a.vBibDeconn{
	position:absolute;
	right:0px;	
	text-decoration:none;
	color:black;
	font-size:smaller;
	margin-left:5px;
	height:30px;
	top:5px;
	z-index:2;
	background-color:#AAF;
	border-radius:20px 0px 0px 20px;
}

div.vBibProfilDisplayMenu{
	float:right;
	margin-top:0px;
	margin-bottom:10px;
	height:25px;
	padding:0px 35px 0px 10px;

	background-color:#CCE;	
}

div.vBibProfilDisplay{
	position:absolute;
	visibility:hidden;
	opacity:0;
	min-height:100px;
	width:250px;
	right:0px;
	z-index:1;
	background-color:#CCE;
	margin-top:33px;
	margin-left:10px;
	padding:10px;
	
	text-align:right;
	box-shadow: 1px 1px 1px 0px #999;
	
	-moz-transition: opacity 1s ease;
	-webkit-transition: opacity ease;
	-o-transition:opacity 1s ease;
	transition:opacity 1s ease;
}

div.vBibProfilDisplay:before{
	content: "";
	position:absolute;
	width: 0; 
	height: 0; 
	border-left: 10px solid transparent;
	border-right: 10px solid transparent;
	border-bottom: 10px solid #CCE;
	
	right: 40px;
	top: -9px;
}

div.vBibDeconn:hover>div.vBibProfilDisplayMenu{
	/*border-radius:10px 0px 20px 0px;*/	
}

div.vBibDeconn:hover>div.vBibProfilDisplay{
	visibility:visible;
	opacity:1;
}

div.MessagerieMenuItem{
	display:inline-block;
	padding:2px 5px 2px 5px;
	border-radius:2px 2px 2px 2px;
	margin:5px;
}


div.vBibProfilDisplay img{
	box-shadow: 1px 1px 1px 0px #888;
}

img.ImgDefaultShadow{
	box-shadow: 1px 1px 1px 0px #888;
}

div.vBibProfilDisplay a{
	padding:2px;
	border-radius:5px 5px 5px 5px;
	background-color:#CCE;
}

div.vBibProfilDisplay a,div.vBibProfilDisplay a:hover{
	-moz-transition: background-color 0.4s ease;
	-webkit-transition: background-color 0.4s ease;
	-o-transition: background-color 0.4s ease;
}

li.MenuContainer{
	top:8px;
	position:relative;
}
li.MenuContainer img{
	height:18px;
	margin-bottom:5px;
}

div.SubMenuItem{
	position:absolute;
	top:15px;
	left:-10px;

	white-space: nowrap;
	z-index:1;
	padding:5px;

	line-height:0em;
	
	-moz-transition: all 0.2s ease-in-out;
	-webkit-transition: all ease-in-out;
	-o-transition: all 0.2s ease-in-out;
	transition: all 0.2s ease-in-out;
}
div.SubMenuItemContainer{

	background-color:#AAF;
	margin-top:5px;
	padding:1px;
}

a.MenuItem{
	color:black;
	font-variant:small-caps;
	
	/*astuce pour arriver au menu avec la souris*/
	margin-bottom:14px;
}

a.SubMenuItem{
	margin-top:2px;
	display:block;
	position:relative;
	background-color:#AAF;

	padding:2px;
}

li.MenuContainer>div.SubMenuItem{
	visibility:hidden;
	opacity:0;
}

li.MenuContainer:hover>div.SubMenuItem{
	visibility:visible;
	opacity:1;
	line-height:1.2em;
	font-size:1em;
}

a.SubMenuItem:hover{
	background-color:#CCF;
}


a.SubMenuItem, a.SubMenuItem:hover{
	-moz-transition: background-color 0.5s ease;
	-webkit-transition: background-color 0.5s ease;
	-o-transition: background-color 0.5s ease;
}

input[type="text"].awesomeBar{
	position:absolute;
	top:5px;
	width:35%;
	left:0px;
	right:0px;
	margin:auto;
	padding: 2px 26px 2px 5px;
	color:#555;
	filter:alpha(opacity=.5);
	background: #DDF url('../images/recherche.png') no-repeat;
	background-position: right 6px top 1px;
}


input[type="text"].awesomeBar::-webkit-input-placeholder { /* WebKit browsers */
  color: #555;
  font-style: italic;
}
input[type="text"].awesomeBar:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
  color: #555;
  font-style: italic;
}
input[type="text"].awesomeBar::-moz-placeholder { /* Mozilla Firefox 19+ */
  color: #555;
  
  font-style: italic;
}
input[type="text"].awesomeBar:-ms-input-placeholder { /* Internet Explorer 10+ */
  color: #555 !important;
  font-style: italic;  
}



/********************************************
 *
 ********************************************/
.loginBox{
  position:relative;
  float:right;
  margin-right:20px;
  padding-bottom:10px;
  width:350px;
  border:1px #AAF solid;
  
  -moz-box-shadow:1px 1px 1px #669;
  box-shadow:1px 1px 1px #669;
}

.loginBox .title{
	position:relative;
	background-color:#AAF;
	color:white;
	top:0px;
	text-align:center;

	}

.colonneDroite{
	position:relative;
	float:right;
	width:50%;
}

.colonneGauche{
	position:relative;
	float:left;
	width:50%;
}

.vBibBoite{
	position:relative;
	display:block;
	float:left;
	width:90%;
	margin-bottom:10px;
	margin-right:10px;
	margin-left:10px;

	-moz-box-shadow:1px 1px 1px #bbb;
	box-shadow:1px 1px 1px #bbb;
	border:1px solid #999;
}

.vBibBoiteTitre{
	text-align:right;
	line-height:2em;
	border-bottom:none;
	padding-right:10px;
	background-color:#AAF;
}

.vBibBoiteContenu{
	padding:5px;
}
.vBibBoiteContenu ul{
	padding-left:15px;
	list-style-type:square;
}
.vBibBoiteContenu ul li{
	color:blue;
}

.vBibBoiteContenu ul li span{
	color:black;
}


a.vBibLink{
	text-decoration:none;
}

a.vBibLink:visited{
}

#vBibActus{
	position:relative;
	clear:both;
	width:600px;
}

#vBibMessages{
	list-style-type:none;
}

.vBibMessage{
	padding: 3px 0px 3px 0px;
}

.vBibMessageAuthor{
	float:left;
	display:inline;
}

.vBibMessageDate{
	font-size:x-small;
	color:gray;
	float : right;
}


.vBibMessageContent{
	border:1px solid gray;
	padding:5px;
	padding-bottom:10px;
	background-color:#eef;	
	
}


.vBibList ul{
	padding-left:15px;
	list-style-type:square;
}

.vBibList ul li{
	color:blue;
	width:100%;
	height:20px;
}

.vBibList ul li span{
	color:black;
}

.vBibBookInfos{
	float:right;
	margin:0;
	padding:0;
}


.vBibBookTitle{
	float:left;
	margin:0;
	padding:0;
	width:auto;
}

.vBibTablePret{
	width:100%;
	border:0;
}

.vBibTablePret tr{
	font-size:small;
}

.tdTitleProfil{
	/*font-weight:bold;*/
	line-height:2em;
	font-size: larger;
	padding-left:20px;
}

tr.bordered td{
	/*border:1px solid #aaa;*/
	padding:10px;
	background-color:#eef;
}

a img{
	border:none;
}

#vBibDisplay a:link{
	/*olor:#22F;*/
}

#vBibDisplay a:visited{
	color:#22F;
}

/******************* RATING SYSTEM **********************/
.vote{
}

.vote:hover{
	cursor:pointer;
}


/******************* BOOK TABLES **********************/
.vBiblioBooksTable{
	font-size:small;
	width:800px;
	border-collapse: collapse;
}

.vBiblioBooksTable thead{
	font-size:small;
	background-color:lightblue;
	text-align:center;
}

.vBiblioBooksTable thead td:hover{
	cursor:pointer;
	background-color:#AAF;
}

.vBiblioBooksTable tr:hover{
	background-color:#DFFBAD;
}

.vBiblioBooksTable tbody{
	font-size:small;
}

.vBiblioBooksTable .vBiblioBookEven{
	background-color:#EFEFEF;
}
.vBiblioBooksTable td{
	padding-top:10px;
}

span.menuContextuel{
	position:absolute;
	visibility:hidden;
	margin-top:15px;
	padding:2px;
	background     :  #DDEEFF;   /* Définition du fond, sinon on a le même que notre lien */
	border         :  1px solid #6699FF; /* Définition des bordures */
	box-shadow: 0 2px 2px rgba(100,100,100,0.5);
}

tr.infobulle:hover span.menuContextuel{
	display:inline;
	visibility:visible;	
}

.infobulle:hover td span, .infobulle:focus td span, .infobulle:active td span 
{
	display:inline;
	visibility:visible;
}

.ImgAction:hover{
	cursor:pointer;
}

.infobulle img{
	border:1px solid gray;
}

.btn {
	display:block;
	position:relative;
	padding:5px;
	margin:5px;
	float:left;
	font-weight:bold;
	font-size:larger;
	text-decoration:none;
	cursor:pointer;
	background:#55ff55;
	color:white;
	border: 1px solid #aaffaa;
	box-shadow:1px 1px 1px #669;
}

.btn:hover{
	background:#88ff88;
}


/**************************************
**************************************/
#vBiblio_tagcloud li { 
	display: inline;
}

#vBiblio_tagcloud{
	position:relative;
}

#vBiblio_tagcloud a{
	position:relative;
	padding:2px 4px 2px 4px;
	background:#0089e0;
	font-weight:bold;
	text-decoration:none;
}


#vBiblio_tagcloud li div{
	display:inline-block;
}

#vBiblio_tagcloud li.low{
	font-size: 1em; font-weight: 100;
}

#vBiblio_tagcloud li.medium{
	font-size: 1.5em; font-weight: 500;
}

#vBiblio_tagcloud li.top{
	font-size: 2em; font-weight: 900;
}

a.Atag{
	color: #FFF;
}

/* Buddy list */
div.BuddyList{
	display:block;
	width:100%;
}

div.BuddyBox{
	display:inline-block;
	width:30%;
	border-radius:5px 5px 5px 5px;
	padding:5px;
	margin:5px;

	/*Mozilla*/
	
	background: -webkit-gradient(to bottom, #BBF, #DDF, #BBF);
	background: -moz-linear-gradient(to bottom, #AAF, #DDF);
}

div.BuddyBox:hover{
	background: -moz-linear-gradient(to bottom, #99F, #DDF);
}
div.BuddyBox>img:hover{
	background-color:#55DD55;
}

meter{
	width:180px;
	height:6px;
	background: #999;
	background-size:200px 15px, auto, auto;
	background-position: -300px 0, top, top;
	-webkit-box-shadow: 0 1px 0 rgba(255,255,255,.5) inset, 0 -1px 0 rgba(0,0,0,.8) inset, 0 0 1px black;
	box-shadow: 0 1px 0 rgba(255,255,255,.5) inset, 0 -1px 0 rgba(0,0,0,.8) inset, 0 0 1px black;
}
meter::-moz-meter-bar{
	box-shadow: 0 1px 0 rgba(255,255,255,.5) inset, 0 -1px 0 rgba(0,0,0,.8) inset, 0 0 1px black;
}
meter::-webkit-meter-bar{	
}

table.lineSep{
	border-collapse:collapse;
}

table.lineSep td{
	padding-top:10px;
	border: none;
	border-bottom: solid 1px #aaa;
}
table.lineSep tr:last-child td{
	border-bottom: none;
}

hr {
	margin-top:20px;
	margin-bottom:20px;
	height: 2px;
	border: 0;
	background-color: #c3c3c3;
	background-image: -webkit-gradient(linear, 0 0, 100% 0, from(#ddf), to(#ddf), color-stop(50%, #fff));
	background-image: -webkit-linear-gradient(left, #ddf, #fff, #ddf);
	background-image: -moz-linear-gradient(left, #ddf, #fff, #ddf);
	background-image: -ms-linear-gradient(left, #ddf, #fff, #ddf);
	background-image: -o-linear-gradient(left, #ddf, #fff, #ddf);
}

hr:after {
  content: '';
  display: block;
  height: 1px;
  background-color: #f7f6f4;
  background-image: -webkit-gradient(linear, 0 0, 100% 0, from(#ddf), to(#ddf), color-stop(50%, #c3c3c3));
  background-image: -webkit-linear-gradient(left, #ddf, #c3c3c3, #ddf);
  background-image: -moz-linear-gradient(left, #ddf, #c3c3c3, #ddf);
  background-image: -ms-linear-gradient(left, #ddf, #c3c3c3, #ddf);
  background-image: -o-linear-gradient(left, #ddf, #c3c3c3, #ddf);
}
