
############
## Windows
############

# Windows image file caches
Thumbs.db

# Folder config file
Desktop.ini

# Installer logs
pip-log.txt

# Unit test / coverage reports
.coverage
.tox

#Translations
*.mo

#Mr Developer
.mr.developer.cfg

# Mac crap
.DS_Store


#temp win files
*.*~

#fichier images
sources/images/covers
sources/images/avatars

#fichier conf de la base de données
sources/scripts/db/db.php
db.php
